@font-face {
	font-family: 'FuturaStdBold';
	src: url('../fonts/FuturaStdBold/FuturaStd-Bold.eot');
	src: url('../fonts/FuturaStdBold/FuturaStd-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FuturaStdBold/FuturaStd-Bold.woff') format('woff'),
		 url('../fonts/FuturaStdBold/FuturaStd-Bold.ttf') format('truetype'),
		 url('../fonts/FuturaStdBold/FuturaStd-Bold.svg#FuturaStdBold') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'FuturaStdLight';
	src: url('../fonts/FuturaStdLight/FuturaStd-Light.eot');
	src: url('../fonts/FuturaStdLight/FuturaStd-Light.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/FuturaStdLight/FuturaStd-Light.woff') format('woff'),
		 url('../fonts/FuturaStdLight/FuturaStd-Light.ttf') format('truetype'),
		 url('../fonts/FuturaStdLight/FuturaStd-Light.svg#FuturaStdLight') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamBold';
	src: url('../fonts/GothamBold/Gotham-Bold.eot');
	src: url('../fonts/GothamBold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamBold/Gotham-Bold.woff') format('woff'),
		 url('../fonts/GothamBold/Gotham-Bold.ttf') format('truetype'),
		 url('../fonts/GothamBold/Gotham-Bold.svg#GothamBold') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamBook';
	src: url('../fonts/GothamBook/Gotham-Book.eot');
	src: url('../fonts/GothamBook/Gotham-Book.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamBook/Gotham-Book.woff') format('woff'),
		 url('../fonts/GothamBook/Gotham-Book.ttf') format('truetype'),
		 url('../fonts/GothamBook/Gotham-Book.svg#GothamBook') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamCondensedMedium';
	src: url('../fonts/GothamCondensedMedium/GothamCondensed-Medium.eot');
	src: url('../fonts/GothamCondensedMedium/GothamCondensed-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamCondensedMedium/GothamCondensed-Medium.woff') format('woff'),
		 url('../fonts/GothamCondensedMedium/GothamCondensed-Medium.ttf') format('truetype'),
		 url('../fonts/GothamCondensedMedium/GothamCondensed-Medium.svg#GothamCondensedMedium') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamCondensedBold';
	src: url('../fonts/GothamCondensedBold/GothamCondensed-Bold.eot');
	src: url('../fonts/GothamCondensedBold/GothamCondensed-Bold.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamCondensedBold/GothamCondensed-Bold.woff') format('woff'),
		 url('../fonts/GothamCondensedBold/GothamCondensed-Bold.ttf') format('truetype'),
		 url('../fonts/GothamCondensedBold/GothamCondensed-Bold.svg#GothamCondensedBold') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamLight';
	src: url('../fonts/GothamLight/GothamLight.eot');
	src: url('../fonts/GothamLight/GothamLight.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamLight/GothamLight.woff') format('woff'),
		 url('../fonts/GothamLight/GothamLight.ttf') format('truetype'),
		 url('../fonts/GothamLight/GothamLight.svg#GothamLight') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamMedium';
	src: url('../fonts/GothamMedium/Gotham-Medium.eot');
	src: url('../fonts/GothamMedium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamMedium/Gotham-Medium.woff') format('woff'),
		 url('../fonts/GothamMedium/Gotham-Medium.ttf') format('truetype'),
		 url('../fonts/GothamMedium/Gotham-Medium.svg#GothamMedium') format('svg');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'GothamRoundedMedium';
	src: url('../fonts/GothamRoundedMedium/GothamRounded-Medium.eot');
	src: url('../fonts/GothamRoundedMedium/GothamRounded-Medium.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/GothamRoundedMedium/GothamRounded-Medium.woff') format('woff'),
		 url('../fonts/GothamRoundedMedium/GothamRounded-Medium.ttf') format('truetype'),
		 url('../fonts/GothamRoundedMedium/GothamRounded-Medium.svg#GothamRoundedMedium') format('svg');
	font-style: normal;
	font-weight: normal;
}