/*** Home ***/
.main {
	background: $mbg;
}
.spanning {
	position: relative;
	top: -81px;	left: 0;
	margin-bottom: 15px;
	clear: both;
}

// Other classes
.bdn {
	border: none;
}

.btn {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	padding-left: 89px;
	@include size(220px 36px);
	border: 1px solid rgba(236, 24, 31, 0.8);
	border-radius: 20px;
	font-size: em(18);
	font-family: "GothamLight";
	line-height: 1.9;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: $w;
	background-color: #c9b586;
	@include background-image(linear-gradient(to top, #e82026 0%, #e82026 100%));
	@include transition(.2s);
	&:after {
		content: ">";
		position: absolute;
		top: 0; right: 15px;
		font-family: "GothamCondensedMedium";
	}
	
	&-price {
		position: absolute;
		top: 0; left: 0;
		display: inline-block;
		vertical-align: middle;
		width: 77px;
		height: 100%;
		border-right: 1px solid #ab090e;
		font-size: 14px;
		font-family: "GothamMedium";
		line-height: 2.4;
		text-align: center;
	}
	&:hover {
		color: $w;
		box-shadow: inset 0 0 20px rgba(33, 33, 33, .2);
	}
}
// Other classes

.promo {
	position: relative;
	top: -19px;	left: 0;
	&__slide {
		position: relative;
		min-height: 676px;
		z-index: 2;
	}
	
	&__slide-inner {
		position: absolute;
		top: 0; left: 0;
		width: 100%;
		min-height: 784px;
		z-index: 3;
	}
	&__slide-first {
		background: #9ccd8d;
	}
	&__slide-first-inner {
		background: url(../images/promo-image-1.png) no-repeat;
		background-position: 87.6% -24px;
	}
	&__slide-second {
		background: #8dc0cd;
	}
	&__slide-second-inner {
		background: url(../images/promo-image-2.png) no-repeat;
		background-position: 79% -2%;
	}

	&__slide-content {
		text-transform: uppercase;
		color: $b;
	}
	&__slide-text {
		margin-top: 184px;
		font-size: em(154);
		font-family: "GothamBold";
		line-height: .8;
	}
	&__slide-text-inner {
		font-size: 136px;
	}
	&__slide-text-extra {
		padding-left: 7px;
		font-size: em(69);
		line-height: 1;
		color: $w;
	}
	&__slide-text-span {
		color: $p;
	}
}

.categories {
	position: relative;
	margin-bottom: 30px;
	z-index: 5;
}
.category {
	position: relative;
	float: left;
	margin-right: .5%;
	padding: 19px 50px 31px;
	width: 33%;
	border: 1px solid rgba(0, 0, 0, 0.09);
	border-radius: 2px;
	font-family: "GothamLight";
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
	opacity: 0.98;
	color: $b;
	background-color: $w;
	
	&:after {
		content: "";
		position: absolute;
		bottom: 13px; left: 50%;
		@include size(16px 11px);
		background: url(../images/page-icons-sprite.png) no-repeat;
		background-position: -10px -61px;
		transform: translateX(-50%);
	}
	&:last-child {
		margin-right: 0;
	}

	&__title {
		margin-bottom: 5px;
		font-size: em(40);
	}
	&__img-wrap {
		position: relative;
		margin: 0 auto 18px;
		@include size(173px);
		border-radius: 50%;
	}
	&__mask-wrap {
		position: absolute;
		top: 0; left: 0;
		@include size(100%);
		transform: translateY(50%);
		transition: .25s;
		opacity: 0;
	}
	&__mask-img {
		position: absolute;
		top: 50%; left: 50%;
		transform: translate(-50%, -50%);
	}
	&__goods-number {
		font-size: em(15);
		line-height: 1;
	}
	&__goods-number-extra {
		display: block;
		font-size: em(25);
		font-family: "GothamMedium";
		color: #f2262c;
	}
}
.category:hover .category__mask-wrap {
	transform: translateY(-5%);
	opacity: 1;
}

.products-section {
	&__inner {
		padding: 26px 1%;
		border-radius: 4px;
		font-family: "GothamMedium";
		background: $w;
	}

	&__title-wrap {
		@include clearfix();
		margin-bottom: 15px;
	}
	&__title {
		float: left;
		padding-left: 6px;
		width: 80%;
		font-size: em(24);
		line-height: 1;
		text-transform: uppercase;
		color: $b;
	}
	&__title-inner {
		color: #f2262c;
	}

	&__show-all {
		float: right;
		padding: 5px 10px 0 0;
		width: 20%;
		font-family: "Arial";
		font-style: italic;
		text-align: right;
		text-transform: lowercase;
		color: #626162;
		&:before {
			content: "";
			display: inline-block;
			@include triangle(8px, #4c4b4b, right);
			position: relative;
			top: 0; left: -7px;
		}
		&:hover {
			color: #626162;
			opacity: .9;
		}
	}
	
	&__items-list {
		@include clearfix();
	}
	&__item-wrap {
		float: left;
		margin: 0 .6666% 12px 0;
		width: 24.5%;
		border: 1px solid rgba(0, 0, 0, 0.09);
		border-radius: 4px;
		text-align: center;
		opacity: 0.92;
		background: $w;
		&:nth-child(4n) {
			margin-right: 0;
		}
	}
	&__item {
		padding: 4px 9px 10px;
		border: 6px solid transparent;
		border-radius: 4px;
		@include transition(.15s);
	}

	&__brand-logo {
		height: 50px;
	}
	&__item-img-wrap {
		margin-bottom: 20px;
		height: 160px;
		border-bottom: 1px solid #e1e0df;
		line-height: 160px;
		overflow: hidden;
	}
	&__item-img {
		display: inline-block;
		vertical-align: bottom;
		padding-bottom: 10px;
	}
	&__item-name {
		display: table-cell;
		vertical-align: bottom;
		padding: 0 5px 0 27px;
		height: 35px;
		font-size: em(17);
		line-height: 1;
		text-align: left;
		color: $b;
	}

	&__item-link {
		@include size(176px 29px);
		margin-top: 10px;
		padding-left: 55px;
		border: 1px solid rgba(167, 37, 0, 0.8);
		font-size: em(14);
		line-height: 2;
		text-shadow: 0.5px 0.9px 2px rgba(0, 0, 0, 0.29);
		@include background-image(linear-gradient(to top, #e82026 0%, #ea2328 100%));
		&:after {
			right: 5px;
			font-size: em(19);
			line-height: 1.4;
		}
		&:hover {
			box-shadow: none;
		}
	}
	&__link-price {
		width: 70px;
		font-size: em(11);
	}
}
.products-section__item-wrap:hover .products-section__item {
	border: 6px solid #fe1e13;
}