.page-icons {
	background-image: url(spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

.page-icons-icon-add-cart {
	width: 16px;
	height: 14px;
	background-position: -10px -10px;
}

.page-icons-icon-cart {
	width: 16px;
	height: 17px;
	background-position: -46px -10px;
}

.page-icons-icon-full-cart {
	width: 38px;
	height: 31px;
	background-position: -82px -10px;
}

.page-icons-icon-list-burger {
	width: 16px;
	height: 11px;
	background-position: -10px -61px;
}

.page-icons-icon-magnifier {
	width: 12px;
	height: 12px;
	background-position: -46px -61px;
}

.page-icons-icon-mail {
	width: 12px;
	height: 9px;
	background-position: -78px -61px;
}

.page-icons-icon-phone {
	width: 13px;
	height: 12px;
	background-position: -110px -61px;
}

.page-icons-icon-pig {
	width: 75px;
	height: 75px;
	background-position: -143px -10px;
}

.page-icons-icon-star-checked {
	width: 19px;
	height: 18px;
	background-position: -10px -105px;
}

.page-icons-icon-star-unchecked {
	width: 19px;
	height: 18px;
	background-position: -49px -105px;
}

.scl-sprite {
	background-image: url(spritesheet.png);
	background-repeat: no-repeat;
	display: block;
}

.scl-sprite-icon-fb {
	width: 30px;
	height: 30px;
	background-position: -10px -10px;
}

.scl-sprite-icon-pin {
	width: 25px;
	height: 25px;
	background-position: -60px -10px;
}

.scl-sprite-icon-tw {
	width: 30px;
	height: 30px;
	background-position: -105px -10px;
}
