/*** Typography ***/
$em-base: 14px; // Default font-size value
a {
	color: $link;
	text-decoration: none;
	background-color: $tr;
	@include transition(color $df, background-color $df, border-color $df);
	&:hover {
		color: $link-hover;
	}
	&.underline {
		text-decoration: underline;
	}
}
.wysiwyg {
	@extend .clearfix;
	h1 {
		font-size: $fontSize*2;
		line-height: $lineHeight*2;
		margin-bottom: $lineHeight;
	}
	h2 {
		font-size: $fontSize*1.5;
		line-height: $lineHeight*1.5;
		margin-bottom: $lineHeight;
	}
	h3 {
		margin-bottom: $lineHeight;
	}
	h4 {
		font-size: $fontSize;
		line-height: $lineHeight;
	}
	h5 {
		font-size: $fontSize;
		line-height: $lineHeight;
	}
	h6 {
		font-size: $fontSize;
		line-height: $lineHeight;
	}
	p {
				
	}
	img {
		display: block;
		margin: 0 0 $lineHeight;
		&.align-left {
			margin: 0 $lineHeight $lineHeight 0;
		}
		&.align-right {
			margin: 0 0 $lineHeight $lineHeight;
		}
		&.align-center {
			margin-left: auto;
			margin-right: auto;
		}
	}
	blockquote {
		margin-bottom: $lineHeight;
		padding-left: $lineHeight;
		font-style: italic;
		p {
			margin-bottom: 0;
		}
	}
	hr {
		clear: both;
		margin-bottom: $lineHeight;
		border: 0;
		border-bottom: 1px solid $light-gray;
		&.transparent {
			border-bottom-color: $transparent;
		}
	}
	ul {
		overflow: hidden;
		margin-bottom: $lineHeight;
		list-style: inside disc;
		li {
			padding-left: $lineHeight;
		}
	}
	ol {
		overflow: hidden;
		margin-bottom: $lineHeight;
		list-style: inside decimal;
		li {
			padding-left: $lineHeight;
		}
	}
	table {
		margin-bottom: $lineHeight;
		th {
			padding: $lineHeight/2 $lineHeight;
			background: $light-gray;
			border: 1px solid $light-gray;
		}
		td {
			padding: $lineHeight/2 $lineHeight;
			border: 1px solid $light-gray;
		}
	}
}