@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
@mixin box-shadow($shadow) {
	-moz-box-shadow: $shadow;
	-webkit-box-shadow: $shadow;
	box-shadow: $shadow;
}
@mixin sizing($string: border-box) {
	-webkit-box-sizing: $string;
	-moz-box-sizing: $string;
	box-sizing: $string;
}
@mixin bgsize($string: cover) {
	-moz-background-size: $string;
	-o-background-size: $string;
	-webkit-background-size: $string;
	background-size: $string;
}
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
	filter: alpha(opacity=$opacity-ie);
}

// @mixin transition($args...) {
// 	-webkit-transition: $args;
// 	-moz-transition: $args;
// 	-ms-transition: $args;
// 	-o-transition: $args;
// 	transition: $args;
// }
// @mixin clearfix() {
// 	&:before,
// 	&:after {
// 		content: " ";
// 		display: table;
// 	}
// 	&:after {
// 		clear: both;
// 	}
// }
// @mixin placeholder($color: inherit) {
// 	&::-webkit-input-placeholder {
// 		color: $color;
// 	}
// 	&:-moz-placeholder {
// 		color: $color;
// 	}
// 	&::-moz-placeholder {
// 		color: $color;
// 	}
// 	&:-ms-input-placeholder {
// 		color: $color;
// 	}
// }
// @mixin bp-large {
// 	@media only screen and (max-width: 60em) {
// 		@content;
// 	}
// }
// @mixin bp-medium {
// 	@media only screen and (max-width: 40em) {
// 		@content;
// 	}
// }
// @mixin bp-small {
// 	@media only screen and (max-width: 30em) {
// 		@content;
// 	}
// }
// $image-path: '../img' !default;
// $fallback-extension: 'png' !default;
// $retina-suffix: '@2x';
// @mixin background-image($name, $size:false){
// 	background-image: url(#{$image-path}/#{$name}.svg);
// 	@if($size){
// 		background-size: $size;
// 	}
// 	.no-svg &{
// 		background-image: url(#{$image-path}/#{$name}.#{$fallback-extension});

// 		@media only screen and (-moz-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
// 			background-image: url(#{$image-path}/#{$name}#{$retina-suffix}.#{$fallback-extension});
// 		}
// 	}
// }
// @mixin linear-gradient ($direction: 'to bottom', $fallback: #ccc, $from: #ccc, $to: #aaa) {
// 	$directions: helper-gradient-angle($direction);
// 	background-color: $fallback;
// 	background-image: -webkit-gradient(linear, unquote(nth($directions, 2)), from($from), to($to));
// 	background-image: -webkit-linear-gradient(unquote(nth($directions, 1)), $from, $to);
// 	background-image: linear-gradient(unquote($direction), $from, $to);
// }
// @mixin transform($transforms) {
// 	-moz-transform: $transforms;
// 	-o-transform: $transforms;
// 	-ms-transform: $transforms;
// 	-webkit-transform: $transforms;
// 	transform: $transforms;
// }
// @mixin rotate ($deg) {
// 	@include transform(rotate(#{$deg}deg));
// }
// @mixin scale ($scale) {
// 	@include transform(scale($scale));
// }
// @mixin translate ($x, $y) {
// 	@include transform(translate($x, $y));
// }
// @mixin skew ($x, $y) {
// 	@include transform(skew(#{$x}deg, #{$y}deg));
// }
// @mixin transform-origin ($origin) {
// 	-moz-transform-origin: $origin;
// 	-o-transform-origin: $origin;
// 	-ms-transform-origin: $origin;
// 	-webkit-transform-origin: $origin;
// 	transform-origin: $origin;
// }
// @mixin keyframe ($animation_name) {
// 	@-webkit-keyframes #{$animation_name} {
// 		@content;
// 	}
// 	@-moz-keyframes #{$animation_name} {
// 		@content;
// 	}
// 	@-ms-keyframes #{$animation_name} {
// 		@content;
// 	}
// 	@-o-keyframes #{$animation_name} {
// 		@content;
// 	}
// 	@keyframes #{$animation_name} {
// 		@content;
// 	}
// }
// @mixin animation ($name, $duration: '1s', $transition: linear, $iteration: infinite, $delay: 0) {
// 	-moz-animation-name: $name;
// 	-moz-animation-duration: $duration;
// 	-moz-animation-timing-function: $transition;
// 	-moz-animation-iteration-count: $iteration;
// 	-moz-animation-delay: $delay;
// 	-moz-animation-fill-mode: forwards;

// 	-ms-animation-name: $name;
// 	-ms-animation-duration: $duration;
// 	-ms-animation-timing-function: $transition;
// 	-ms-animation-iteration-count: $iteration;
// 	-ms-animation-delay: $delay;
// 	-ms-animation-fill-mode: forwards;

// 	-o-animation-name: $name;
// 	-o-animation-duration: $duration;
// 	-o-animation-timing-function: $transition;
// 	-o-animation-iteration-count: $iteration;
// 	-o-animation-delay: $delay;
// 	-o-animation-fill-mode: forwards;

// 	-webkit-animation-name: $name;
// 	-webkit-animation-duration: $duration;
// 	-webkit-animation-timing-function: $transition;
// 	-webkit-animation-iteration-count: $iteration;
// 	-webkit-animation-delay: $delay;
// 	-webkit-animation-fill-mode: forwards;

// 	animation-name: $name;
// 	animation-duration: $duration;
// 	animation-timing-function: $transition;
// 	animation-iteration-count: $iteration;
// 	animation-delay: $delay;
// 	animation-fill-mode: forwards;
// }
// @mixin linearGradient($top, $bottom){
// 	background: $top;
// 	background: -moz-linear-gradient(top,  $top 0%, $bottom 100%);
// 	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
// 	background: -webkit-linear-gradient(top,  $top 0%,$bottom 100%);
// 	background: -o-linear-gradient(top,  $top 0%,$bottom 100%);
// 	background: -ms-linear-gradient(top,  $top 0%,$bottom 100%);
// 	background: linear-gradient(to bottom,  $top 0%,$bottom 100%);
// 	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#000000',GradientType=0 );
// }
